
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

/* Main Navigation */

nav {
  border: solid 1px #fff;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav > ul > li {
  padding: 1rem 1.25rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: hotpink;
}

/* header */

header {
  min-height: 80vh;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  font-size: 3rem;
  text-shadow: 2px 2px black;
}


.cats {
  margin: 3rem 0 3rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.cats > .cat {
  width: 400px;
  background: #777;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  margin: 3rem 0;
  text-align: center;
}