
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

/* Main Navigation */

nav {
  border: solid 1px #fff;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav > ul > li {
  padding: 1rem 1.25rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: hotpink;
}