
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  background: yellow;
}

a, h1 {
  color: blueviolet;
}

.cat p {
  background: blue;
}

a[title] {
  color: green;
}

a[title="Contact us here"] {
  text-decoration: line-through;
}

p > a {
  color: red;
}