/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  height: 90vh;
  background: #222;
  border-radius: 1rem;
  border: solid 2px orange;
}

.box {
  width: 150px;
  height: 150px;
  background: orange;
  border: 2px dashed orangered;
}